
@page "/"
@using System.ComponentModel.DataAnnotations

@code{public Question newQuestion = new Question();}

<h1>Create a questionaire</h1>

Welcome to the questionaire builder.
<form>
    <div class="form-group">
        <b><label for="exampleFormControlInput1">Question</label></b>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your question here" value="@stringQuestion" @oninput="(EventArgs) => {SetQuestion(EventArgs.Value.ToString());}">
    </div>
    <div class="form-group">
        <b><label for="exampleFormControlInput1">Answer</label></b>
        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter your answer here" value="@stringAnswer" @oninput="(EventArgs) => {SetAnswer(EventArgs.Value.ToString());}">
    </div>

</form>
<button @onclick="UpdateQuestion" class="btn btn-primary">Add</button>
       


<h1>@stringQuestion</h1>
<h1>@stringAnswer</h1>

@code{

    string stringQuestion = "";
    string stringAnswer = "";
    //string test = "";
    //string test2 = "";

    private void SetQuestion(string Value)
    {
        stringQuestion = Value;

    }
    private void SetAnswer(string Value)
    {
        stringAnswer = Value;
    }


    private void UpdateQuestion(MouseEventArgs e)
    {
        newQuestion.setQuestion(stringQuestion);
        newQuestion.setAnswer(stringAnswer);
        newQuestion.addQuestion();
        //test = newQuestion.getQuestionAnswer(0);
        //test2 = newQuestion.getQuestionAnswer(1);

    }
}

<form>
    @for (var i = 0; i < newQuestion.questionAnswer.Count(); i = i + 2)
    {
        var question = newQuestion.questionAnswer[i];
        <div class="form-group" style="border-style:dotted">
                <label id="@i">@question</label><br>

                <input type="text" value="@newQuestion.questionAnswer[i+1]"><br><br>

                <button class="btn btn-primary" disabled>Submit</button>
        </div>
    }
</form>







